DB_HOST=lorekeeper_db

MAIL_DRIVER=smtp
MAIL_HOST=maildev
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=password
MINIO_DEFAULT_BUCKETS=default-bucket

PHPMYADMIN_PORT=3922
FRONTEND_PORT=9934
